<body class="devisebody">
  <div class="deviseedit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="infouseredit">
  <i> <%= image_tag(@user.avatar_url, size:"50x50", class:"useravataredit") %></i>
  <strong><%= @user.nickname %></strong><br>
  </div>
  <div class="allformedit">
  <div class="formedit">
    <aside><%= f.label :nickname %></aside>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "editfield" %>
  </div><br/>

  <div class="formedit">
    <aside><%= f.label :avatar %></aside>
    <%= f.file_field :avatar, style: "padding-top: 4px;" , class: "editfield" %>
  </div><br/>
  <div class="formedit">
    <aside><%= f.label :email %></aside>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "editfield"  %>
  </div><br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="formedit">
    <aside><%= f.label :password %></aside>
    <%= f.password_field :password, autocomplete: "new-password", class: "editfield"  %>
  </div><br/>

  <div class="formedit">
    <aside><%= f.label :password_confirmation %></aside>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "editfield"  %>
  </div><br/>

  <div class="formedit">
    <aside><%= f.label :current_password %></aside>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "editfield"  %>
  </div><br/>
  </div>
    <%= f.submit "Update", class: "buttonedit" %>
    <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<% end %>

</div>
</body>
