<body class="devisebody">
  <div class="deviseregistration">
<h2><%= image_tag("logo/nedo-instagram.png", size:"150x40", class: "logodevise") %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "nickname", class: "formregistration" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "formregistration" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password (6 characters minimum)", class: "formregistration" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password", class: "formregistration" %>

  <div class="actions">
    <%= f.submit "Sign up", class: "buttonregistration" %>
  </div>
<% end %>
</div>
<div class="underdeviselogin">
  Do you have an account? <%= link_to "Log in", new_session_path(resource_name) %><br />
</div>
</body>
