<<<<<<< HEAD
<body class="devisebody">
  <div class="bodyshow">
    <div class="statshow">
<%= image_tag(@user.avatar_url, class: "useravatar") if @user.avatar? %>
<div class="nicknameandedit">
<h2><%= @user.nickname %></h2>
<h5 class="linkedit"><%= link_to "Edit profile", edit_user_registration_path, class: "link"%></h5>
</div>
<%=  @user.photos.count %> publications
<%= link_to @user.followed_users.count, following_user_path(@user.id) %> following
<%= link_to @user.followers.count, followers_user_path(@user.id) %> followers
</div>
</div>
</body>
=======
<h1>Profile</h1>
<p><strong>Name: </strong> <%=  @user.nickname %></p>
<p><%=image_tag(@user.avatar_url) %></p>
<p><strong>Photo: </strong> <%=  @user.photos.count %></p>
<p><strong>Following: </strong> <%= link_to @user.followed_users.count, following_user_path(@user.id) %><%=  %></p>
<p><strong>Followers: </strong><%= link_to @user.followers.count, followers_user_path(@user.id) %></p>
<% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
<%= link_to "Edit", edit_user_registration_path%>

<% @currentphoto.each do |user| %>
<% user.photos.each do | photo | %>
		<%= image_tag(photo.url, size: "500x300")%>	<br> <br>
	<% end %>
<% end %>
>>>>>>> c8f7111fdae22c46e4e47ed562f959b646979a88
