<<<<<<< HEAD


<div class="col-md-8">
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">

 <%= image_tag(@user.avatar_url)  %> <br>
<strong>@<%= @user.nickname%></strong>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
=======
  <h3><%= @title %></h3>
  <% if @users != current_user %>
  <% if @users.any? %>
    <ul>
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
<% end %>
>>>>>>> 93295b5fc6c79ca12960062a392a190bb7663922
