<body class="devisebody">
  <header class="bodyshow">
    <div class="statshow">
<%= image_tag(@user.avatar_url, class: "useravatar")%>
<div class="nicknameandedit">
<h2><%= @user.nickname %></h2><h5 class="linkedit"><%= link_to "Edit profile", edit_user_registration_path, class: "link"%></h5>

<% if @user != current_user %>
<% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
<% else %>
<% end %>
</div>

<%=  @user.photos.count %> publications
<%= link_to @user.followed_users.count, following_user_path(@user.id), style: "color:black" %> following
<%= link_to @user.followers.count, followers_user_path(@user.id), style: "color:black" %> followers

</header>
<hr class="hrshow"/>
<div class="bodyphotoshow">
  <% @currentphoto.each do |user| %>
  <% user.photos.each do | photo| %>
  <%= link_to photo_path(user.id) do %>
  		<%= image_tag(photo.url, size: "300x300", class: "photousershow")%>
      <% end %>
  	<% end %>
  <% end %>
</div>
</div>
</body>
