<body class="bodyindex">
  <div class="bodyindexsecond">
<% if user_signed_in? %>
  <% @mainphotos.each do |photo| %>
  <div class="content">
    <div class="textcontent">
      <i> <%= image_tag(photo.user.avatar_url, size:"50x50", class:"useravatar") %></i>
      <strong style="display:block; padding:23px 0 0 10px;"><%= photo.user.nickname %></strong><br>
    </div>
    <% photo.photos.each do | image | %>
      <%= image_tag(image.url, size: "400x250", class:"photocontent")%>
    <% end %>
    <br>
    <% pre_like = photo.likes.find{ |like| like.user_id == current_user.id} %>
    <% if pre_like %>

      <%= button_to photo_likes_path(photo, pre_like), method: :delete, class: "buttonlike" do %>
        <i class="fas fa-heart fa-2x" style="color: red;"></i>
      <% end %>
    <% else %>
      <%= button_to photo_likes_path(photo), method: :post, class: "buttonlike" do %>
        <i class="fas fa-heart fa-2x" style="color: silver;"></i>
      <% end %>
    <% end %>
    <b style="margin-left: 5px;"><%= photo.likes.count %> <%= (photo.likes.count) == 1 ? 'like' : 'likes'%></b><br />
    <div><b class="description"><%= photo.user.nickname %></b> <%= photo.description %></div>
    <%= render 'comment_list', {photo: photo} %>
    <hr style="width:100%;" />
    <div class="formcomment">
    <%= render 'comment_form', {photo: photo}%>
    </div>
    </div>
  <% end %>
  <div class="infous">
  <div class="infouserindex">
    <%= link_to user_path(current_user), class: "linktouser" do %>
    <%= image_tag(current_user.avatar_url, class: "useravatarinfo")%>
    <b><%= current_user.nickname %></b>
    <% end %>
  </div>
  <div class="underinfoindex">
    <% @users.each do |user| %>
    <%= link_to user_path(user), class: "linktouser" do %>
    <%= image_tag(user.avatar_url, size: "50x50", style: "border-radius: 50%; margin-bottom: 5px;")%>
    <%= user.nickname %><br />
    <% end %>
    <% end %>
  </div>
  </div>

<% else %>
<div class="maincontent">
  <% @photos.each do |photo| %>
    <div class="textcontent">
      <i> <%= image_tag(photo.user.avatar_url, size:"50x50", class:"useravatar") %></i>
      <strong><%= photo.user.nickname %></strong><br>
    </div>
    <% photo.photos.each do | image | %>
      <%= image_tag(image.url, size: "400x250", class:"photocontent")%>	<br> <br>
    <% end %>
    <i class="fas fa-heart fa-2x" style="color: silver;margin: 5px 0 0 5px;"></i>
    <b style="margin-left: 5px;"><%= photo.likes.count %> <%= (photo.likes.count) == 1 ? 'Like' : 'Likes'%></b>
    <div><b class="description"><%= photo.user.nickname %> </b><%= photo.description %></div>
    <hr />
  <% end %>
<% end %>
</div>
</div>
</body>
